@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl font-bold;
    }

    .input {
        @apply block w-full min-w-0 rounded outline px-3 py-2 font-bold transition-all placeholder:text-[.95rem] placeholder:tracking-[-.015em] placeholder:text-coolGray hover:outline-purplishBlue focus:outline-purplishBlue sm:mt-1 sm:px-4 outline-1 outline-lightGray
        sm:py-3 sm:placeholder:text-[1rem] text-marineBlue;
    }

    .label {
        @apply text-[0.75rem] font-medium tracking-[-.015em] sm:text-[0.9rem] text-marineBlue;
    }

    .btn {
        @apply z-10 rounded-md border  text-[0.9rem] font-medium capitalize leading-none text-white transition-all  sm:text-[1rem];
    }

    .btn-next {
        @apply bg-marineBlue h-10 w-24 hover:bg-blue-900 lg:h-12 lg:w-32;
    }

    .btn-back {
        @apply border-none text-coolGray hover:text-marineBlue;
    }

    img,
    svg {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
    .blue-checkmark {
        @apply fill-blue-700 stroke-blue-700;
    }
    .form-btns-container{
        @apply fixed bottom-0  left-0 flex w-full justify-between bg-white p-4 shadow sm:absolute sm:mt-8 sm:p-0 sm:shadow-none md:mb-4
    }
}
