@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl font-bold;
    }

    .step {
        @apply rounded-lg bg-white px-6 py-8;
    }

    .step-header {
        @apply mb-2 text-[1.55rem];
    }

    .step-info {
        @apply text-coolGray font-medium text-[1.03rem] tracking-[-.01em] mb-4;
    }

    img,
    svg {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
}
